body {
    margin: 0;
    padding: 0;
}

#box-container {
    display: flex;
    justify-content: flex-start;
}

#box {
    width: 100%;
    height: 500px;
    background: deeppink;
    position: relative;
    top: calc(100vh + 100px);
}

#box2 {
    position: relative;
    width: 100%;
    background: deepskyblue;
    height: 500px;
    top: calc(100vh + 100px);
}